<!-- footer.html -->
<section class="pt-5 pb-5 bg-brand">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="text-uppercase mb-4 text-white">Lorem ipsum dolor sit.</h2>
				<a href="#" class=" text-uppercase btn btn-lg btn-outline-brand">get in touch</a>
			</div>	
			<div class="col-lg-6 mt-4 mt-lg-0">
				<form action="" class="form p-4 bg-white">
					<h3>Lorem ipsum dolor sit.</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, aperiam!</p>
					<div class="input-group mt-4">
  						<input type="text" class="form-control form-control-lg" placeholder="email" aria-label="email" aria-describedby="button-addon">
  					<div class="input-group-append">
   						 <button class="btn btn-brand btn-lg text-uppercase" type="button" id="button-addon2">Send</button>
  					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<footer class="pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<ul class="list-with-dots list-unstyled list-inline text-uppercase text-center text-lg-left">
					<li class="list-inline-item">
						<a href="#">home</a>
					</li>
					<li class="list-inline-item">
						<a href="#">about us
						</a></li>
					<li class="list-inline-item">
						<a href="#">services
						</a></li>
					<li class="list-inline-item">
						<a href="#">portfolio</a></li>
					<li class="list-inline-item">
						<a href="#">blog</a>
					</li>
					<li class="list-inline-item">
						<a href="#">contact 
						us</a></li>
				</ul>
			</div>
			<div class="col-lg-4 text-center text-lg-right">
				<div class="text-uppercase">Lorem ipsum created by <a href="#">lorem</a>
				</div>
				<ul class="list-unstyled list-inline h3 mt-3">
					<li class="list-inline-item">
						<a href="#"><i class="icon ion-logo-facebook"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="icon ion-logo-twitter"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="icon ion-logo-youtube"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="icon ion-logo-linkedin"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="icon ion-logo-pinterest"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="icon ion-logo-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>